@import "tailwindcss";

@theme {

    --color-primary: #FFEA00;
    --color-primary-light: #FFF8A8;
    --color-primary-dark: ##BCAC00;
    --color-seconday: #2D5605;
    /* --font-albert: "Albert Sans", "Frank Ruhl Libre"; */
}


:root {
    --toastify-color-progress-light: #2E7A33;
}

.Toastify__toast-theme--light {
    background-color: #BEFDC2 !important;
}
